* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
 

  .header {
    background-color: #fff;
    padding: -20px;
    border: 1px solid black;
    margin-bottom: 20px;
  }

  .main-container {
    background-color: #f6f6f6;
  }

  .nav {
    display: flex;
    justify-content: center;
    margin: 2.5rem;
  }

  .nav-item {
    list-style: none;
    margin-right: 20px;
    font-family: "Roboto",sans-serif;
    font-size: 12px;
    font-weight: normal;
  
  }
  .img1{
    position: absolute;
    left: 20px;
  }
  .one, h1,p{
    background-color: #eee;
    margin-left: 20px;
    padding: 20px;
  }
  .a , h3{
    position: absolute;
    right: 30px;
    top:100px;
  } 

  

body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #797979;
}
.container{
    display: flex;
    margin-top: 10rem;
    margin-left: 2rem;
}
.media{
    display: flex;
   
}
.media-body{
    /* margin-left: 20rem; */
}

.cart-area{
    margin-top: 5rem;
    /* display: flex; */

}
.box{
    vertical-align: middle;
    display: flex;
    margin-top: 2rem;
    padding: 5px;
    border:1px solid black;
    width: 100%;
    height: 20vh;
    p{
        margin-top: 1rem;
        margin-left: 10rem;
    }
    h5{
        font-size: 15px;
        margin-top: 2rem;
        margin-left: 18rem;
    }
    h4{
        margin-top: 2rem;
        margin-left: 22rem;
    }
}
/* span{
    margin-top: -40px;
    margin-right: -100px;
} */
select{
    margin-left: -20rem;
    padding-left: 2rem;
}
.button-container{
    margin-top: 2rem;
    /* display: flex; */
}
button,#update{
  /* background-color: aqua; */
  /* margin:5rem 7rem; */
  margin-left: 30px;
   padding: 10px 20px;
   line-height: 38px;
    background: #f6f6f6;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    padding: 0px 40px;
    display: inline-block;
    color: #2a2a2a;
    text-transform: uppercase;
    font-weight: 500;
}



 
 
.cupon_text {
  margin-top: -3rem;
  margin-left: 40rem;
}
.cupon_text input {
  width: 200px;
  padding: 0px 15px;
  border-radius: 3px;
  border: 1px solid #eeeeee;
  height: 40px;
  font-size: 14px;
  color: #cccccc;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  margin-right: -3px;
  outline: none;
  box-shadow: none;
}
.main_btn {
  display: inline-block;
  background: #71cd14;
  padding: 0px 32px;
  letter-spacing: 0.25px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 44px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #71cd14;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 300ms linear 0s;
  border-radius: 5px;
}
.gray_btn {
  line-height: 38px;
  background: #f6f6f6;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding: 0px 40px;
  display: inline-block;
  color: #2a2a2a;
  text-transform: uppercase;
  font-weight: 500;
}
thead {
  margin-left: 200rem;
  display: table-header-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}
.texts{
  h4{
    position: absolute;
    top: 20rem;
    left: 1rem;
    /* font-size: 17px; */
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }
   h3{
    position: absolute;
    top: 20rem;
    left: 46rem;
     font-size: 17px; 
    font-size: 15px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;

  }
  h2{
    position: absolute;
    top: 20rem;
    left: 55rem;
    /* font-size: 17px; */
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;

  }
  h5{
    position: absolute;
    top: 20rem;
    left: 72rem;
    /* font-size: 17px; */
    font-size: 15px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;

  }

}
.shipping{
  
  position: absolute;
  left: 62rem;
 margin-top: 5rem;
 h5{
  position: absolute;
  left: -120px;
  font-size: 15px;
 }

}
.shipping_box{
  padding-right: 30px;
  font-size: 14px;
  color: #797979;
  position: relative;
    /* height: 10px; */
    /* width: 10px;
    border-radius: 50%;
    background: #71cd14;
    display: inline-block;
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0; */
    

}
.list{

  margin-top: 8rem;
  margin-left: 60rem;
  
  li{
    list-style: none;
    margin-top: 10px;
    
  }
  
}
.shipping_select{
  margin-left: -100px;
  margin-top: 2rem;
  display: block;
  width: 100%;
  background: #f6f6f6;
  border: 1px solid #eeeeee;
  height: 40px;
  margin-bottom: 20px;
  font-weight: 500px;
  font-family: sans-serif;
 
}
input{
  height: 40px;
  outline: none;
  border: 1px solid #eeeeee;
  background: #f6f6f6;
  width: 100%;
  padding: 0px 15px;
  margin-bottom: -40px;
  margin-left: -100px;
}
.gray-btn {

  margin-top: 40px;
  margin-left: -40px;
  line-height: 38px;
  background: #f6f6f6;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding: 0px 40px;
  display: inline-block;
  color: #2a2a2a;
  text-transform: uppercase;
  font-weight: 500;
}

.gray_btnn {
  line-height: 38px;
  background: #f6f6f6;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding: 0px 40px;
  display: inline-block;
  color: #2a2a2a;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: -15rem;
  margin-top: 5rem;
}
.main-footer{
  /* padding-top: 10px;
  padding-right: 20px; */
  margin-top: 5rem;
  background-color: black;
  display: flex;
  /* margin-left: 10px; */
}
.single-footer{
  
  margin-top: 5rem;
  margin-left: 4rem;
  h4 {
    color: #ffffff;
      margin-top: -20px;
      text-align: center;
      font-family: "Roboto",sans-serif;
      font-size: 20px;
}
li{
  margin-top: 10px;
  list-style: none;
  line-height: 40px;
  color: white;
  }
  li a {
    color: #797979;
}
p{
  background-color: black;
  margin-top: 20px;
  margin-bottom: 1rem;
}
}
 .single-footer input {
  margin-left: 10px;
  height: 50px;
  border: none;
  width: 70% !important;
  font-weight: 300;
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff;
  padding-left: 20px;
  border-radius: 0;
  font-size: 14px;
  padding: 10px;
}
.single-footer .click-btn {
  font-size: 12px;
  text-transform: uppercase;
  background: #71cd14;
  color: #ffffff;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 2px 20px;
  border: 0;
  position: relative;
  left: 14rem;
  top: -30px;
  transition: all 300ms linear 0s;

}
.footer-social{
 
  font-size: 20px;
  color: #f6f6f6;
  margin-top: -35px;
  margin-left: 60rem;
}


 
 